.hidden {
  display: none;
}
body {
  background-color: black;
}
.clock {
  color: aqua;
  font-size: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-form {
  margin-left: 1400px;
  background-color: aqua;
  height: 300px;
  border-radius: 30px;
}
#quote {
  background-color: aqua;
  height: 100px;
  width: 500px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 600px;
}
#weather {
  background-color: aqua;
  height: 100px;
  width: 500px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}
.hi {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 45px;
}
#login-form {
  margin-left: 30px;
}
#todo-form {
  margin-left: 30px;
}
